<!DOCTYPE html>
<html>
<head>
  <title>Paws</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
    <h1>PAWS FOR MIAMI       <img src="http://i.imgur.com/XFwZSZ0.png" height="60px">
</h1>  
      <div class="nav">
        <a href="">About</a>  |
        <a href="">Animals</a>  |
        <a href="">Adopt</a>
        </div>
    
  </header>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
